[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.8.3"
flake8-annotations = "~=2.3.0"
flake8-import-order = "~=0.18.1"

[packages]
aiohttp = "~=3.6.2"
arrow = "~=0.15.7"
discord-py = "~=1.5.1"
pypopulation = "==2020.3"
tortoise-orm = "~=0.16.15"

[requires]
python_version = "3.9"

[scripts]
ryan = "python -m ryan"
lint = "python -m flake8"
