[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-annotations = "*"
flake8-import-order = "*"

[packages]
discord-py = "*"
aiosqlite = "*"
aiodns = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python -m bot"
lint = "python -m flake8"
